<div class="flex flex-col flex-auto w-full">
  <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">
    <!-- Title and action buttons -->
    <div class="flex items-center justify-between w-full">
      <div>
        <div class="text-3xl font-semibold tracking-tight leading-8">
          Dashboard
        </div>
        <div class="font-medium tracking-tight text-secondary">
          Monitor metrics, check reports and keep track of your financial status
        </div>
      </div>
      <div class="flex items-center ml-6">
        <button class="hidden sm:inline-flex" mat-stroked-button>
          <mat-icon
            class="icon-size-5"
            [svgIcon]="'heroicons_solid:cog-8-tooth'"
          ></mat-icon>
          <span class="ml-2">Settings</span>
        </button>
        <button
          class="hidden sm:inline-flex ml-3"
          mat-flat-button
          [color]="'primary'"
        >
          <mat-icon
            class="icon-size-5"
            [svgIcon]="'heroicons_solid:arrow-up-tray'"
          ></mat-icon>
          <span class="ml-2">Export</span>
        </button>

        <!-- Actions menu (visible on xs) -->
        <div class="sm:hidden">
          <button [matMenuTriggerFor]="actionsMenu" mat-icon-button>
            <mat-icon
              [svgIcon]="'heroicons_outline:ellipsis-vertical'"
            ></mat-icon>
          </button>
          <mat-menu #actionsMenu="matMenu">
            <button mat-menu-item>Export</button>
            <button mat-menu-item>Settings</button>
          </mat-menu>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-1 xl:grid-cols-3 gap-8 w-full mt-8">
      <!-- Monthly Amount -->
      <div class="flex flex-col flex-auto p-6 bg-card rounded-2xl shadow">
        <div class="flex items-center">
          <div class="flex flex-col">
            <div
              class="mr-4 text-lg font-medium tracking-tight leading-6 truncate"
            >
              Cash flow for {{ now | date : "MMMM" }}
            </div>
            <div class="text-secondary font-medium">
              Monthly cashflow summary
            </div>
          </div>
        </div>
        <!-- <div class="mt-6">
          Last month; you had <strong>223</strong> services transactions,
          <strong>12</strong> sales transactions. <strong>235</strong> bills in
          total.
        </div> -->
        <div class="my-8 space-y-20">
          <div class="flex flex-col">
            <div class="flex items-center">
              <div
                class="flex items-center justify-center w-14 h-14 rounded bg-red-100 text-red-800 dark:bg-red-600 dark:text-red-50"
              >
                <mat-icon
                  class="text-current"
                  [svgIcon]="'heroicons_outline:credit-card'"
                ></mat-icon>
              </div>
              <div class="flex-auto ml-4 leading-none">
                <div class="text-sm font-medium text-secondary">
                  Sales Revenue
                </div>
                <div class="mt-2 font-medium text-2xl">
                  {{ totalSalesRevenueForMonth | currency : "GBP" }}
                </div>
              </div>
              <!-- <div class="flex items-end justify-end min-w-18 mt-auto ml-6">
                <div class="text-lg leading-none">2.6%</div>
                <mat-icon
                  class="text-green-600 icon-size-4 ml-1"
                  [svgIcon]="'heroicons_mini:arrow-long-down'"
                ></mat-icon>
              </div> -->
            </div>
          </div>
          <div class="flex flex-col">
            <div class="flex items-center">
              <div
                class="flex items-center justify-center w-14 h-14 rounded bg-indigo-100 text-indigo-800 dark:bg-indigo-600 dark:text-indigo-50"
              >
                <mat-icon
                  class="text-current"
                  [svgIcon]="'heroicons_outline:banknotes'"
                ></mat-icon>
              </div>
              <div class="flex-auto ml-4 leading-none">
                <div class="text-sm font-medium text-secondary">
                  Services Revenue
                </div>
                <div class="mt-2 font-medium text-2xl">
                  {{ totalServicesRevenueForMonth | currency : "GBP" }}
                </div>
              </div>
              <!-- <div class="flex items-end justify-end min-w-18 mt-auto ml-6">
                <div class="text-lg leading-none">12.7%</div>
                <mat-icon
                  class="text-red-600 icon-size-4 ml-1"
                  [svgIcon]="'heroicons_mini:arrow-long-up'"
                ></mat-icon>
              </div> -->
            </div>
          </div>
          <div class="flex flex-col">
            <div class="flex items-center">
              <div
                class="flex items-center justify-center w-14 h-14 rounded bg-teal-100 text-teal-800 dark:bg-teal-600 dark:text-teal-50"
              >
                <mat-icon
                  class="text-current"
                  [svgIcon]="'heroicons_outline:light-bulb'"
                ></mat-icon>
              </div>
              <div class="flex-auto ml-4 leading-none">
                <div class="text-sm font-medium text-secondary">
                  Total Revenue
                </div>
                <div class="mt-2 font-medium text-2xl">
                  {{ getTotalRevenueOfMonth() | currency : "GBP" }}
                </div>
              </div>
              <!-- <div class="flex items-end justify-end min-w-18 mt-auto ml-6">
                <div class="text-lg leading-none">105.7%</div>
                <mat-icon
                  class="text-red-600 icon-size-4 ml-1"
                  [svgIcon]="'heroicons_mini:arrow-long-up'"
                ></mat-icon>
              </div> -->
            </div>
            <!-- <div class="mt-3 text-md text-secondary">
              Exceeded your personal limit! Be careful next month.
            </div> -->
          </div>
        </div>
        <!-- <div class="flex items-center mt-auto">
          <button class="mt-2" mat-stroked-button>Download Summary</button>
        </div> -->
      </div>

      <!-- Recent transactions table -->
      <div
        class="xl:col-span-2 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden"
      >
        <div class="p-4">
          <div
            class="mr-4 text-lg font-medium tracking-tight leading-6 truncate"
          >
            Recent invoices
          </div>
        </div>
        <div class="overflow-x-auto mx-6">
          <table
            class="w-full bg-transparent"
            mat-table
            matSort
            [dataSource]="recentTransactionsDataSource"
            [trackBy]="trackByFn"
            #recentTransactionsTable
          >
            <!-- Transaction ID -->
            <ng-container matColumnDef="invoiceId">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>
                Invoice ID
              </th>
              <td mat-cell *matCellDef="let invoice">
                <span
                  class="pr-6 font-medium text-sm text-secondary whitespace-nowrap"
                >
                  {{ invoice.invoiceNumber }}
                </span>
              </td>
            </ng-container>

            <!-- Date -->
            <ng-container matColumnDef="date">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>Date</th>
              <td mat-cell *matCellDef="let invoice">
                <span class="pr-6 whitespace-nowrap">
                  {{ invoice.date | date : "MMM dd, y" }}
                </span>
              </td>
            </ng-container>

            <!-- Name -->
            <ng-container matColumnDef="type">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>Type</th>
              <td mat-cell *matCellDef="let invoice">
                <span class="pr-6 whitespace-nowrap">
                  {{ invoice.type }}
                </span>
              </td>
            </ng-container>

            <!-- Customer Name -->
            <ng-container matColumnDef="customerName">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>
                Customer Name
              </th>
              <td mat-cell *matCellDef="let invoice">
                <span class="pr-6 font-medium whitespace-nowrap">
                  {{ invoice.billTo.name }}
                </span>
              </td>
            </ng-container>

            <!-- Amount -->
            <ng-container matColumnDef="amount">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>Amount</th>
              <td mat-cell *matCellDef="let invoice">
                <span class="pr-6 font-medium whitespace-nowrap">
                  {{ invoice.total | currency : "GBP" }}
                </span>
              </td>
            </ng-container>

            <!-- Footer -->
            <ng-container matColumnDef="recentOrdersTableFooter">
              <td
                class="py-6 px-0 border-0"
                mat-footer-cell
                *matFooterCellDef
                colspan="6"
              >
                <button mat-stroked-button (click)="routeToInvoiceListPage()">
                  See all transactions
                </button>
              </td>
            </ng-container>

            <tr
              mat-header-row
              *matHeaderRowDef="recentTransactionsTableColumns"
            ></tr>
            <tr
              class="order-row h-16"
              mat-row
              *matRowDef="let row; columns: recentTransactionsTableColumns"
            ></tr>
            <tr
              class="h-16 border-0"
              mat-footer-row
              *matFooterRowDef="['recentOrdersTableFooter']"
            ></tr>
          </table>
        </div>
      </div>
    </div>

    <div
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 w-full mt-8"
      *ngIf="invoicesData"
    >
      <div
        class="sm:col-span-2 lg:col-span-3 dark flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden"
      >
        <div
          class="flex items-center justify-between mt-10 ml-10 mr-6 sm:mr-10"
        >
          <div class="flex flex-col">
            <div
              class="mr-4 text-2xl md:text-3xl font-semibold tracking-tight leading-7"
            >
              Daily Revenue
            </div>
            <div class="font-medium text-secondary">
              Total revenue per day for week/month
            </div>
          </div>
          <div class="ml-2">
            <mat-button-toggle-group
              class="hidden sm:inline-flex border-none space-x-1"
              value="this-week"
              #visitorsYearSelector="matButtonToggleGroup"
            >
              <mat-button-toggle
                class="px-1.5 rounded-full overflow-hidden border-none font-medium"
                value="this-week"
                >This Week
              </mat-button-toggle>
              <mat-button-toggle
                class="px-1.5 rounded-full overflow-hidden border-none font-medium"
                value="this-month"
                >This Month
              </mat-button-toggle>
            </mat-button-toggle-group>
            <div class="sm:hidden">
              <button mat-icon-button [matMenuTriggerFor]="visitorsMenu">
                <mat-icon
                  [svgIcon]="'heroicons_outline:ellipsis-vertical'"
                ></mat-icon>
              </button>
              <mat-menu #visitorsMenu="matMenu">
                <button mat-menu-item>This Year</button>
                <button mat-menu-item>Last Year</button>
              </mat-menu>
            </div>
          </div>
        </div>
        <div class="flex flex-col flex-auto h-80">
          <apx-chart
            class="flex-auto w-full h-full"
            [chart]="chartVisitors.chart"
            [colors]="chartVisitors.colors"
            [dataLabels]="chartVisitors.dataLabels"
            [fill]="chartVisitors.fill"
            [grid]="chartVisitors.grid"
            [series]="chartVisitors.series[visitorsYearSelector.value]"
            [stroke]="chartVisitors.stroke"
            [tooltip]="chartVisitors.tooltip"
            [xaxis]="chartVisitors.xaxis"
            [yaxis]="chartVisitors.yaxis"
          ></apx-chart>
        </div>
      </div>

      <div
        class="sm:col-span-2 lg:col-span-3 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden"
      >
        <div class="flex items-start justify-between m-6 mb-0">
          <div class="text-lg font-medium tracking-tight leading-6 truncate">
            Total Customers
          </div>
          <div class="ml-2">
            <button
              class="h-6 min-h-6 px-2 rounded-full bg-hover"
              mat-button
              [matMenuTriggerFor]="totalNumberOfInvoices"
            >
              <span class="font-medium text-sm text-secondary">{{
                getDisplayValueForFilter(totalNoOfInvoicesFilter)
              }}</span>
            </button>
            <mat-menu #totalNumberOfInvoices="matMenu">
              <button
                mat-menu-item
                (click)="updateFilter('1m', 'totalNoOfInvoices')"
              >
                30 days
              </button>
              <button
                mat-menu-item
                (click)="updateFilter('3m', 'totalNoOfInvoices')"
              >
                3 months
              </button>
              <button
                mat-menu-item
                (click)="updateFilter('6m', 'totalNoOfInvoices')"
              >
                6 months
              </button>
            </mat-menu>
          </div>
        </div>

        <div
          class="flex flex-col gap-8 larger-screens:flex-row lg:items-center mx-6 mt-3 mb-8"
        >
          <div>
            <div class="text-7xl font-bold tracking-tighter leading-tight">
              {{ totalNoOfServicesInvoice | number : "1.0-0" }}
            </div>
            <div
              class="flex items-center ml-1 lg:ml-0 lg:mt-0.5 text-md leading-none whitespace-nowrap text-secondary"
            >
              <span class="ml-1">Services Customers</span>
            </div>
          </div>

          <div class="">
            <div class="text-7xl font-bold tracking-tighter leading-tight">
              {{ totalNoOfSalesInvoice | number : "1.0-0" }}
            </div>
            <div
              class="flex items-center ml-1 lg:ml-0 lg:mt-0.5 text-md leading-none whitespace-nowrap text-secondary"
            >
              <span class="ml-1">Sales Customers</span>
            </div>
          </div>
        </div>

        <div class="flex flex-col flex-auto h-20">
          <apx-chart
            class="flex-auto w-full h-full"
            [chart]="chartServicesBills.chart"
            [colors]="chartServicesBills.colors"
            [series]="chartServicesBills.series"
            [stroke]="chartServicesBills.stroke"
            [tooltip]="chartServicesBills.tooltip"
            [xaxis]="chartServicesBills.xaxis"
            [yaxis]="chartServicesBills.yaxis"
          ></apx-chart>
        </div>
        <div class="flex flex-col flex-auto h-20">
          <apx-chart
            class="flex-auto w-full h-full"
            [chart]="chartSalesBills.chart"
            [colors]="chartSalesBills.colors"
            [series]="chartSalesBills.series"
            [stroke]="chartSalesBills.stroke"
            [tooltip]="chartSalesBills.tooltip"
            [xaxis]="chartSalesBills.xaxis"
            [yaxis]="chartSalesBills.yaxis"
          ></apx-chart>
        </div>
      </div>
    </div>

    <div
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 w-full mt-6 md:mt-8"
    >
      <!-- Services Customers New vs. Returning -->
      <div
        class="flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden p-6"
        *ngIf="invoicesData"
      >
        <div class="flex items-start justify-between">
          <div>
            <div class="text-lg font-medium tracking-tight leading-6 truncate">
              Services Customers
            </div>
            <div class="text-lg font-medium tracking-tight leading-6 truncate">
              New vs. Returning
            </div>
          </div>
          <div class="ml-2">
            <button
              class="h-6 min-h-6 px-2 rounded-full bg-hover"
              mat-button
              [matMenuTriggerFor]="serviceCustomer"
            >
              <span class="font-medium text-sm text-secondary">{{
                getDisplayValueForFilter(serviceCustomerNewVsReturningFilter)
              }}</span>
            </button>
            <mat-menu #serviceCustomer="matMenu">
              <button
                mat-menu-item
                (click)="updateFilter('1m', 'serviceCustomer')"
              >
                30 days
              </button>
              <button
                mat-menu-item
                (click)="updateFilter('3m', 'serviceCustomer')"
              >
                3 months
              </button>
              <button
                mat-menu-item
                (click)="updateFilter('9m', 'serviceCustomer')"
              >
                9 months
              </button>
            </mat-menu>
          </div>
        </div>

        <div class="flex flex-col flex-auto mt-6 h-44">
          <apx-chart
            class="flex flex-auto items-center justify-center w-full h-full"
            [chart]="chartServiceCustomersNewVsReturning.chart"
            [colors]="chartServiceCustomersNewVsReturning.colors"
            [labels]="chartServiceCustomersNewVsReturning.labels"
            [plotOptions]="chartServiceCustomersNewVsReturning.plotOptions"
            [series]="chartServiceCustomersNewVsReturning.series"
            [states]="chartServiceCustomersNewVsReturning.states"
            [tooltip]="chartServiceCustomersNewVsReturning.tooltip"
          ></apx-chart>
        </div>
        <div class="mt-8">
          <div class="-my-3 divide-y">
            <ng-container
              *ngFor="
                let dataset of serviceCustomersNewVsReturningData.percentSplits;
                let i = index
              "
            >
              <div class="grid grid-cols-3 py-3">
                <div class="flex items-center">
                  <div
                    class="flex-0 w-2 h-2 rounded-full"
                    [style.backgroundColor]="
                      chartServiceCustomersNewVsReturning.colors[i]
                    "
                  ></div>
                  <div class="ml-3 truncate">
                    {{ serviceCustomersNewVsReturningData.labels[i] }}
                  </div>
                </div>
                <div class="font-medium text-right">
                  {{
                    (serviceCustomersNewVsReturningData.total * dataset) / 100
                      | number : "1.0-0"
                  }}
                </div>
                <div class="text-right text-secondary">{{ dataset }}%</div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>

      <!-- Top Makes -->
      <div
        class="flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden p-6"
        *ngIf="invoicesData"
      >
        <div class="flex items-start justify-between">
          <div class="text-lg font-medium tracking-tight leading-6 truncate">
            Top Makes
          </div>
          <div class="ml-2">
            <button
              class="h-6 min-h-6 px-2 rounded-full bg-hover"
              mat-button
              [matMenuTriggerFor]="topMakes"
            >
              <span class="font-medium text-sm text-secondary">{{
                getDisplayValueForFilter(topMakeFilter)
              }}</span>
            </button>
            <mat-menu #topMakes="matMenu">
              <button mat-menu-item (click)="updateFilter('1m', 'topMake')">
                30 days
              </button>
              <button mat-menu-item (click)="updateFilter('3m', 'topMake')">
                3 months
              </button>
              <button mat-menu-item (click)="updateFilter('9m', 'topMake')">
                9 months
              </button>
            </mat-menu>
          </div>
        </div>
        <div class="flex flex-col flex-auto mt-6 h-44">
          <apx-chart
            class="flex flex-auto items-center justify-center w-full h-full"
            [chart]="chartTopMakes.chart"
            [colors]="chartTopMakes.colors"
            [labels]="chartTopMakes.labels"
            [plotOptions]="chartTopMakes.plotOptions"
            [series]="chartTopMakes.series"
            [states]="chartTopMakes.states"
            [tooltip]="chartTopMakes.tooltip"
          ></apx-chart>
        </div>

        <div class="mt-8">
          <div class="-my-3 divide-y">
            <ng-container
              *ngFor="let dataset of topMakesData.percentSplits; let i = index"
            >
              <div class="grid grid-cols-3 py-3">
                <div class="flex items-center">
                  <div
                    class="flex-0 w-2 h-2 rounded-full"
                    [style.backgroundColor]="chartTopMakes.colors[i]"
                  ></div>
                  <div class="ml-3 truncate">{{ topMakesData.labels[i] }}</div>
                </div>
                <div class="font-medium text-right">
                  {{ (topMakesData.total * dataset) / 100 | number : "1.0-0" }}
                </div>
                <div class="text-right text-secondary">{{ dataset }}%</div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>

      <!-- Top services -->
      <div
        class="flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden p-6"
        *ngIf="invoicesData"
      >
        <div class="flex items-start justify-between">
          <div class="text-lg font-medium tracking-tight leading-6 truncate">
            Top services
          </div>
          <div class="ml-2">
            <button
              class="h-6 min-h-6 px-2 rounded-full bg-hover"
              mat-button
              [matMenuTriggerFor]="topServices"
            >
              <span class="font-medium text-sm text-secondary">{{
                getDisplayValueForFilter(topServiceFilter)
              }}</span>
            </button>
            <mat-menu #topServices="matMenu">
              <button mat-menu-item (click)="updateFilter('1m', 'topService')">
                30 days
              </button>
              <button mat-menu-item (click)="updateFilter('3m', 'topService')">
                3 months
              </button>
              <button mat-menu-item (click)="updateFilter('9m', 'topService')">
                9 months
              </button>
            </mat-menu>
          </div>
        </div>
        <div class="flex flex-col flex-auto mt-6 h-44">
          <apx-chart
            class="flex flex-auto items-center justify-center w-full h-full"
            [chart]="chartTopServices.chart"
            [colors]="chartTopServices.colors"
            [labels]="chartTopServices.labels"
            [plotOptions]="chartTopServices.plotOptions"
            [series]="chartTopServices.series"
            [states]="chartTopServices.states"
            [tooltip]="chartTopServices.tooltip"
          ></apx-chart>
        </div>
        <div class="mt-8">
          <div class="-my-3 divide-y">
            <ng-container
              *ngFor="
                let dataset of topServicesData.percentSplits;
                let i = index
              "
            >
              <div class="grid grid-cols-3 py-3">
                <div class="flex items-center">
                  <div
                    class="flex-0 w-2 h-2 rounded-full"
                    [style.backgroundColor]="chartTopServices.colors[i]"
                  ></div>
                  <div class="ml-3 truncate">
                    {{ topServicesData.labels[i] }}
                  </div>
                </div>
                <div class="font-medium text-right">
                  {{
                    (topServicesData.total * dataset) / 100 | number : "1.0-0"
                  }}
                </div>
                <div class="text-right text-secondary">{{ dataset }}%</div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>

      <!-- Sales Customers New vs. Returning -->
      <div
        class="flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden p-6"
        *ngIf="invoicesData"
      >
        <div class="flex items-start justify-between">
          <div>
            <div class="text-lg font-medium tracking-tight leading-6 truncate">
              Sales Customers
            </div>
            <div class="text-lg font-medium tracking-tight leading-6 truncate">
              New vs. Returning
            </div>
          </div>
          <div class="ml-2">
            <button
              class="h-6 min-h-6 px-2 rounded-full bg-hover"
              mat-button
              [matMenuTriggerFor]="saleCustomer"
            >
              <span class="font-medium text-sm text-secondary">
                {{
                  getDisplayValueForFilter(salesCustomerNewVsReturningFilter)
                }}</span
              >
            </button>
            <mat-menu #saleCustomer="matMenu">
              <button
                mat-menu-item
                (click)="updateFilter('1m', 'saleCustomer')"
              >
                30 days
              </button>
              <button
                mat-menu-item
                (click)="updateFilter('3m', 'saleCustomer')"
              >
                3 months
              </button>
              <button
                mat-menu-item
                (click)="updateFilter('9m', 'saleCustomer')"
              >
                9 months
              </button>
            </mat-menu>
          </div>
        </div>

        <div class="flex flex-col flex-auto mt-6 h-44">
          <apx-chart
            class="flex flex-auto items-center justify-center w-full h-full"
            [chart]="chartSalesCustomersNewVsReturning.chart"
            [colors]="chartSalesCustomersNewVsReturning.colors"
            [labels]="chartSalesCustomersNewVsReturning.labels"
            [plotOptions]="chartSalesCustomersNewVsReturning.plotOptions"
            [series]="chartSalesCustomersNewVsReturning.series"
            [states]="chartSalesCustomersNewVsReturning.states"
            [tooltip]="chartSalesCustomersNewVsReturning.tooltip"
          ></apx-chart>
        </div>
        <div class="mt-8">
          <div class="-my-3 divide-y">
            <ng-container
              *ngFor="
                let dataset of saleCustomersNewVsReturningData.percentSplits;
                let i = index
              "
            >
              <div class="grid grid-cols-3 py-3">
                <div class="flex items-center">
                  <div
                    class="flex-0 w-2 h-2 rounded-full"
                    [style.backgroundColor]="
                      chartSalesCustomersNewVsReturning.colors[i]
                    "
                  ></div>
                  <div class="ml-3 truncate">
                    {{ saleCustomersNewVsReturningData.labels[i] }}
                  </div>
                </div>
                <div class="font-medium text-right">
                  {{
                    (saleCustomersNewVsReturningData.total * dataset) / 100
                      | number : "1.0-0"
                  }}
                </div>
                <div class="text-right text-secondary">{{ dataset }}%</div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
